.button {
  display: inline-flex;
  align-items: center;
  gap: 1px;

  padding-block: 10px;
  padding-inline: 20px;

  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease;
}

/* Disabled Button */
.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Primary Button */
.primary {
  background-color: var(--primary);
  color: var(--white);
}

.primary:hover {
  background-color: var(--primary-light);
}

/* Secondary Button */
.secondary {
  background-color: var(--primary);
  color: var(--white);

  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 155px;
  height: 35px;

  padding-block: 8px;
  padding-inline: 18.5px;
  border-radius: 20px;
}

.secondary:hover {
  background-color: var(--primary-light);
}

/* Outline Button */
.outline {
  background-color: var(--white);
  border: 1px solid var(--primary);
}

.outline:hover {
  border-color: var(--primary-light);
}
