:root {
  --background: #ffffff;
  --foreground: #212529;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  line-height: 1.125;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-firago);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: calc(1680px + 32px);
  padding-inline: 16px;
  margin-inline: auto;
}

main {
  padding-top: 40px;
}

.heading {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 52px;
}
