.formGroup {
  display: flex;
  flex-direction: column;
}

.formLabel {
  color: var(--gray-dark);
  margin-bottom: 6px;
}

.formSpan {
  font-size: 10px;
  font-weight: 350;
  color: var(--gray-medium);
}

.formMinLabel {
  margin-block: 4px 2px;
}

.error {
  color: var(--danger);
}

.success {
  color: var(--success);
}
