.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 30px;
}

.logo a {
  display: inline-flex;
  position: relative;

}

.navList {
  display: flex;
  gap: 40px;
}
