.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 30px;
}

.logo a {
  display: inline-block;
  position: relative;
  width: 210px;
  height: 38px;
}

.logo img {
  position: absolute;
}

.navList {
  display: flex;
  gap: 40px;
}
