.listWrapper {
  max-height: 966px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
  min-height: 52px;

  background-color: #aaa;
  color: #fff;
  border-radius: 10px;

  font-size: 20px;
  font-weight: 500;
}
