.list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  max-height: 963px;
  overflow-y: auto;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
  min-height: 52px;

  background-color: #fb5607;
  color: #fff;
  border-radius: 10px;

  font-size: 20px;
  font-weight: 500;
}

.status-1 {
  background-color: #f7bc30; /* Todo */
}
.status-2 {
  background-color: #fb5607; /* In Progress */
}
.status-3 {
  background-color: #ff006e; /* Ready for Testing */
}
.status-4 {
  background-color: #3a86ff; /* Done */
}
