.wrapper {
  position: relative;
  display: inline-block;
  margin-bottom: 24px;
}

.tabList {
  display: inline-flex;
  gap: 45px;

  border: 1px solid #dee2e6;
  border-radius: 10px;

  height: 44px;
}

.tabItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  padding: 10px 18px;

  color: #0d0f10;
}

.tabItem,
.tabItemIcon path {
  transition: all 0.3s ease;
}

.tabItem:hover,
.active {
  color: #8338ec;
}

.tabItem:hover .tabItemIcon path,
.active .tabItemIcon path {
  fill: #8338ec;
}

.tabItemIcon {
  transition: all 0.3s ease;
}

.active .tabItemIcon {
  transform: rotate(180deg);
}

.tabItemIcon {
  position: relative;
  width: 24px;
  height: 24px;
}

.dropdownWrapper {
  background-color: #ffffff;
  border: 1px solid #8338ec;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 25px;

  padding: 40px 30px 20px;
  position: absolute;

  left: 0;
  right: 0;
  top: 51px;
}

.dropdownList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
}

.dropdownItem {
  display: flex;
  align-items: center;
  gap: 15px;

  cursor: pointer;
}

.dropdownButton {
  align-self: flex-end;
}

.chosenFilters {
  display: flex;
  align-items: center;
  gap: 8px;

  font-weight: 350;
  font-size: 14px;
  color: #343a40;

  margin-top: 25px;
  visibility: hidden;

  min-height: 31px;
  flex-wrap: wrap;
}

.filterBadge {
  display: flex;
  align-items: center;
  gap: 4px;

  padding: 6px 10px;
  border-radius: 43px;
  border: 1px solid #ced4da;
  cursor: pointer;
}

.filterBadge svg {
  width: 14px;
  height: 14px;
}

.clearAll {
  background-color: transparent;
  padding: 6px 10px;
  cursor: pointer;
}
