.dropdownWrapper {
  background-color: var(--white);
  border: 1px solid var(--primary);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 25px;

  padding: 40px 30px 20px;
  position: absolute;
  z-index: 2;

  left: 0;
  top: 51px;
  min-width: 645px;
}

.dropdownList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;

  max-height: 180px;
  overflow-y: auto;
}

.dropdownItem {
  display: flex;
  align-items: center;
  gap: 15px;

  cursor: pointer;
}

.svgPurple rect,
.svgPurple path {
  stroke: var(--primary);
}

.dropdownEmployeeWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropdownEmployeeAvatar {
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.dropdownEmployeeAvatar img {
  object-fit: cover;
}

.dropdownButton {
  align-self: flex-end;
}
