.wrapper {
  border-radius: 10px;
  background-color: rgba(248, 243, 254, 0.65);
  border: 1px solid #ddd2ff;

  padding: 40px 45px 52px;
}

.commentForm {
  position: relative;
  height: 135px;
  margin-bottom: 66px;
}

.replyCommentForm {
  margin-bottom: 0;
  margin-left: 53px;
  margin-top: 10px;
}

.commentButton {
  position: absolute;
  bottom: 15px;
  right: 20px;
}

.subheading {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 40px;

  font-size: 20px;
  font-weight: 500;
  color: var(--black);
}

.commentsCount {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary);
  border-radius: 30px;

  font-size: 14px;
  font-weight: 500;
  color: var(--white);

  height: 22px;
  min-width: 30px;
  padding-inline: 11px;
}

.commentsList {
  display: flex;
  flex-direction: column;
  gap: 29px;
}

.commentBody {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 12px;
  justify-items: flex-start;
}

.commentItem {
  margin-bottom: 14px;
}

.avatar {
  grid-row: 1/4;

  border-radius: 50%;
  overflow: hidden;
}

.author {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}

.text {
  font-weight: 350;
  color: var(--gray-dark);
  margin-bottom: 15px;
  max-width: 95%;
}

.replyButton {
  display: flex;
  align-items: center;
  gap: 6px;

  font-size: 12px;
  font-weight: 350;
  color: var(--primary);
  cursor: pointer;
  background-color: transparent;

  transition: all 0.1s ease;
}

.replyButton:hover {
  opacity: 0.8;
}

.replyButton svg {
  width: 16px;
  height: 16px;
}

.repliesList {
  padding-top: 25px;
  padding-left: 53px;

  display: flex;
  flex-direction: column;
  gap: 27px;
}

.replyItem .text {
  max-width: 100%;
  color: unset;
  margin-bottom: 0;
}
